<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
        <!-- IMU link -->
    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.03 0.03 0.01"/>
            </geometry>
            <material name="red"/>
        </visual>

        <collision>
            <geometry>
                <box size="0.03 0.03 0.01"/>
            </geometry>
        </collision>

        <xacro:inertial_box mass="0.05" x="0.03" y="0.03" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="imu_chassis_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
        <origin xyz="0 0 ${(lz/2)}" rpy="0 0 0"/>
    </joint>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
            <gz_frame_id>imu_link</gz_frame_id>
        </sensor>
    </gazebo>
</robot>